/* General styles */
body,html
{
    margin: 0;
    font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Typography */
h1, h2, h3, h4, h5, h6, a, .btn, .card-title
{
    color: #252525;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
a:hover
{
    color: #D0245E;
}
.pink-text
{
    color: #D0245E !important;
}

/* Waves */
.waves-effect .waves-ripple 
{
      background-color: rgba(208, 36, 94, 0.2);
}
          

/* Main navigation style */
nav#navbar
{
    z-index: 999;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color: #252525;
    color: #fff;
    position: fixed;
    top: 0;
    line-height: 50px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#nav-logo
{
    float: left;
    background: url("../img/logo-circle.svg") no-repeat center center;
    background-size: 45px 45px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
ul.nav-list
{
    font-size: 10pt;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li
{
    transition: background-color .1s;
    height: 50px;
}
nav ul li a
{
    box-sizing: border-box;
    height: 50px;
    font-size: 12.5px;
}
nav ul li a:hover
{
    color: #FFF;
    background-color: #454545;
}
nav
{
    height: 50px;
    line-height: 50px;
    color: #FFF;
}
.active
{
    border-bottom: 4px solid #D0245E; 
}
.side-nav li a:hover {
    color: black;   
}
nav a.button-collapse i
{
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    width: 50px;
    margin-left: -15px;
}
nav a.button-collapse:hover
{
    color: #FFF;
}

/* Section 1 */
.section1
{
    padding-top: 50px;
    height: 350px;  
    background: #363636 
}
.section1 .container
{
    height: 350px;
    background: url("../img/gear-bg-white.png") no-repeat;
    background-position: right center;
    background-size: auto 120%;
}
.section1 h1
{
    color: #D0245E;
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: -5px;
}
.section1 h5
{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.13em;
    color: #FFF;
}
.btn-download
{
    background-color: #39B54A;
}


/* Section 2 */
.section2
{
    border-top: 10px solid rgba(0,0,0,0.1);
}
.section2 h5
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section2 .collection
{
    border: 0;
    margin-bottom: 5px;
}
.section2 .collection .collection-item
{
    padding-left: 0;
}
.section2 .collection-item .title
{
    color: #252525;
}
.section2 .collection-item p
{
    color: gray;
    margin: 5px 0px 5px 0px;
}
.section2 .collection-item .secondary-content
{
    color: #252525;
    font-size: 0.8em;
}
.section2 .useful-links
{
    margin-top: 10px;
}
.section2 .useful-links a
{
    font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section2 .useful-links li
{
    padding-bottom: 15px;
}

/* Section 3 */
.section3
{
    background-color: #D0245E;
    border-top: 10px solid rgba(0,0,0,0.1);
}
.section3 .promo-image
{
    display: flex;
    justify-content: center;
    padding: 10px 40px 10px 40px;
}
.section3 .darker
{
    background-color: rgba(0, 0, 0, 0.1);
}
.section3 .promo-wrapper
{
    padding: 40px 0 40px 0;
}
.section3 .row
{
    margin-bottom: 0px;
}
.section3 .promo-image img
{
    border-radius: 50%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

/* Section 4 */
.section4
{
    background-color: #F3F3F3;
    border-top: 10px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.section4 .card
{
    float: left;
    padding: 0px;
    margin: 12px;
    width: calc(50% - 24px);
}
.section4 .card-image
{
    height: 200px;
}
.section4 .card-image img
{
    margin-top: -10%;
}
@media (max-width: 600px) {
    .section4 .card
    {
        width: calc(100% - 24px);
    }
}

/* Section 5 */
.section5
{
    background-color: #D0245E;
    border-top: 10px solid rgba(0,0,0,0.1);
    padding: 20px 0 40px 0;
}
.section5 .input-field label 
{
     color: rgba(255,255,255,0.9);
}
.section5 .input-field input[type=email]:focus + label 
{
     color: #fff;
}
.section5 .input-field input[type=email]:focus 
{
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
}
.section5 .input-field .prefix.active
{
     color: #fff;
}
.message-mail
{
    display: none;
}

/* Footer */
footer.page-footer
{
    margin-top: 0px;
    background-color: #363636;
    border-top: 10px solid rgba(0,0,0,0.1);
}
footer.page-footer .footer-copyright
{
    height: auto;
    line-height: 24px;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.page-footer .social img
{
    height: 50px;
    opacity: 0.7;
}
.page-footer .social img:hover
{
    opacity: 1;
}
.page-footer ul
{
    margin-top: 0;
}

/* Header */
.header
{
    background-color: #363636;
    height: 100px;
    margin-top: 50px;
}
.header h1
{
    line-height: 100px;
    color: #FFF;
    font-size: 36px;
}

/* Content */
.content
{
    padding: 20px 0 50px 0;
    border-top: 10px solid rgba(0,0,0,0.1);   
    min-height: calc(100vh - 300px);
}

/* Downloads */
.downloads .card-content img
{
    display: block;
    margin: auto;
}
.downloads .card-action a
{
    color: #000 !important;
    margin: 0 !important;
}
.downloads .card .card-action
{
    padding: 10px 20px 10px 20px !important;
    z-index: initial;
    font-size: 18px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.downloads .other-downloads a
{
    display: block;
    padding: 10px 40px 10px 40px;
    border-top: 1px solid rgba(160,160,160,0.2);
}
.downloads .row
{
    margin-bottom: 0;
}
.collection.with-header .collection-header
{
    padding: 10px 40px 10px 40px;
}

/* News */
.news-item h3
{
    margin-bottom: 5px;
}
.news-item .date
{
    color: rgba(0, 0, 0, 0.5);
}
.card-date
{
    color: rgba(0, 0, 0, 0.5);
    line-height: 48px;
}

