@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,cyrillic-ext,cyrillic);
body {
	margin: 4em 0 0 0;
	padding: 0 0 0 0;
	font-size: x-small;
font-family:'Open Sans', sans-serif;
	color: black;
	background-color: #f0f0f0;

	direction: ltr;
	unicode-bidi: embed;
}

#firstHeading > span
{
	font-family:'Open Sans Light', sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #f7f7f7;
}

#mw_main,
#p-personal,
#mw_header,
.os-suggest {
	font-size: 130%;
}

#mw_header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 0;
	padding: 4em 0em 0 0em;
	border: none;
	height: 8em;
	width: 100%;

	background-color: #333333;
	color: #f7f7f7;
}

#mw_header h1 {
	border: 0;
	margin: 0.9em 0 0 9.5em;
	padding: 0 0 0 0;
	font-weight: normal
}

h1
{
	font-weight: normal;
}

#header-square
{
	background-color: #2d2d2d;
	position: absolute;
	width: 14em;
	height: 8em;

}

#p-personal {
	position: absolute;
	top: 6em;
	right: 5em;
	height: 1.5em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 1.6em;
	font-family:'Open Sans Light', sans-serif;
	color: #f7f7f7;

}

#p-personal div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1.5em;
	font-variant: small-caps;
}

#p-personal h3,
#p-personal h5 {
	display: none;
}

#p-personal ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
	height: 1.5em;

}

#p-personal li {
	display: block;
	float: left;
	height: 1.5em;
	margin: 0 0 0 0;
	vertical-align: middle;

	font-weight: bold;
	text-transform: lowercase;
}

#p-personal li a {
	text-decoration: none;
	color: white;
	padding: 0 1em 0 1em;
}

#p-personal li a:hover {
	text-decoration: none;
	color: #333333;
}

#p-personal li:hover {
	background-color: #f7f7f7
}

#jump-to-nav {
	display: none;
}

#mw_contentwrapper {
	width: 100%;
	margin: 0 0 0 -15em;
	float: right;
}

#mw_content {
	margin: 0 0 0 14em;

	background-color: white;


	line-height: 1.5em;
	padding: 2em 5em 5em 5em;
}

#mw_portlets {
	width: 14em;

	background-color: #e2e2e2;
}

/* Hide, but keep accessible for screen-readers */
#mw_portlets h2 {
	position: absolute;
	top: -9999px;
}

#mw_main {
    background-color: white;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	margin-top: 12em;
}

div.mw_clear {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	clear: both;
}

/**
/** HEADER 
.bc-head {
min-height: 50px;
background: #222222;
width: 100%;
position: fixed;
top: 0;
z-index: 1000;
-webkit-box-shadow: 0px 2px 3px #222222;
-moz-box-shadow: 0px 2px 3px #222222;
box-shadow: 0px 2px 3px #222222;
}
.bc-navbar {
width: 90%;
max-width: 1000px;
margin: auto;
}
.bc-navbar  li
{

float: right;
text-align: center;
width: 16%;
line-height: 50px;

border-bottom: 2px solid #222222;
-webkit-transition-property: all;
-moz-transition-property: all;
-o-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: ease-in;
-moz-transition-timing-function: ease-in;
-o-transition-timing-function: ease-in;
transition-timing-function: ease-in;
}

.bc-navbar ul
{
	list-style-type: none;
}

.bc-head a
{
	text-decoration: none;
	font-size: 1.6em;
	color: #ececec;
}

.bc-head a:visited
{
	font-size: 1.6em;
	color: #ececec;
}

.bc-head .icon
{

width: 16px;

}

#logo
{
margin-top: 5px;
height: 50px;
text-align: center;
position: fixed;
top: 0;
left: 20px;
z-index: 1100;
}
**/

.portlet {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.portlet div.pBody {
	padding: 0em 0 0.5em 0;
}

textarea {
	width: 100%;
	padding: .1em;
}
#editform textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#searchBody {
	text-align: center;
}

#searchInput {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#p-search #searchform div div {
	margin-top: .4em;
}

.portlet h3,
.portlet h5 {
line-height: 2.5em;
margin: 0 0 0 0;
background-color: #ededed;
font-weight: bold;
font-size: 1.6em;
border-bottom: 0;
height: 2.5em;
text-align:center;
color:#2e2e2e;
vertical-align: middle;
font-family:'Open Sans Light', sans-serif;
}

.portlet ul {
	font-family:'Open Sans Semibold', sans-serif;
	list-style-type:none;
	margin: 1em 0 1em 3em;
	padding: 0 0 0 0;
	color: #2e2e2e;
}

#mw_portlets .portlet ul {
	line-height: 1.4em;
}

ul {

}

#p-cactions {
	height: 1.5em;
	padding: 0 0 0 0;
	margin: 0 3em 0 0;
	float: right;
	background-color: white;
}

#p-cactions div.pBody {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions a,
#p-cactions a:hover {
	color: black;
	text-decoration: none;
}

#p-cactions ul {

	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#p-cactions li {
	font-family: 'Open Sans Semibold',sans-serif;
	margin: 0 0.5em 0 0.5em;
	padding: 0 0.2em 0 0.2em;
	display: block;
	float: left;
	height: 1.5em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

#p-cactions li.selected {
	background-color: #bbbbbb;
}

#p-cactions li a,
#p-cactions li a:hover,
#p-cactions li a:visited {

	color: #333333;
}

#p-cactions li.selected a,
#p-cactions li.selected a:hover,
#p-cactions li.selected a:visited {
	text-decoration: none;
	color: white;
}

#p-cactions h3,
#p-cactions h5 {
	display: none;
}

#siteSub {
	display: none;
}

#footer {
	background-color: #f0f0f0;
	/* @embed */
	
	padding: 10px 1em 1em 1em;
	clear:both;
	color: #444444;
}

#footer a,
#footer a:hover,
#footer a:visited {
	color: #444444;
	text-decoration: underline;
}

img {
	border: none;
}

#footer li {
	display: inline;
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#footer ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

p {
	margin: 1em 0 1em 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

#contentSub {
	color: #888;
	font-size: small;
	padding-left: 2em;
}

#mw_portlets form {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #003366;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new {
	color: #ba0000;
}
a.new:visited {
	color: #a55858;
}

span.editsection {
	font-size: small;
}

h1, h2 {
	border-bottom: solid 1px #003366;
}

h1, h2, h3, h4, h5, h6 {
	overflow: hidden;
}

#preftoc {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1.5em;
	clear: right;
}

#preftoc li {
	margin: 0 0.5em 0 0.5em;
	padding: 0 0.2em 0 0.2em;
	display: block;
	float: left;
	height: 1.5em;
	text-transform: lowercase;
}

#preferences {
	margin: 0 0 0 0;
	padding: 0em 1em 1em 1em;
	border: solid 1px #bbbbbb;
	clear: left; /* Multi-line toc should not push data to horizontally */
}

#preferences fieldset {
	margin-top: 0;
	border: none;
}

.mainLegend {
	display: none;
}

.htmlform-tip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666;
}

.prefsection legend {
	font-weight: bold;
}

#preftoc li.selected {
	background-color: #bbbbbb;
}

#preftoc li a,
#preftoc li a:hover,
#preftoc li a:visited {
	text-decoration: underline;
	color: #003366;
}

#preftoc li.selected a,
#preftoc li.selected a:hover,
#preftoc li.selected a:visited {
	text-decoration: none;
	color: white;
}

#mw-pref-clear {
	clear: both;
}

#mw_content a.external,
#mw_content a.external[href ^="gopher://"] {
	/* @embed */
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}
#mw_content a.external[href ^="https://"],
.link-https {
	/* @embed */
	background: url(lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}
#mw_content a.external[href ^="mailto:"],
.link-mailto {
	/* @embed */
	background: url(mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#mw_content a.external[href ^="news:"] {
	/* @embed */
	background: url(news_icon.png) center right no-repeat;
	padding-right: 18px;
}
#mw_content a.external[href ^="ftp://"],
.link-ftp {
	/* @embed */
	background: url(file_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#mw_content a.external[href ^="irc://"],
#mw_content a.external[href ^="ircs://"],
.link-irc {
	/* @embed */
	background: url(discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}

#mw_content a.external[href $=".ogg"], #mw_content a.external[href $=".OGG"],
#mw_content a.external[href $=".mid"], #mw_content a.external[href $=".MID"],
#mw_content a.external[href $=".midi"], #mw_content a.external[href $=".MIDI"],
#mw_content a.external[href $=".mp3"], #mw_content a.external[href $=".MP3"],
#mw_content a.external[href $=".wav"], #mw_content a.external[href $=".WAV"],
#mw_content a.external[href $=".wma"], #mw_content a.external[href $=".WMA"],
.link-audio {
	/* @embed */
	background: url(audio.png) center right no-repeat;
	padding-right: 13px;
}
#mw_content a.external[href $=".ogm"], #mw_content a.external[href $=".OGM"],
#mw_content a.external[href $=".avi"], #mw_content a.external[href $=".AVI"],
#mw_content a.external[href $=".mpeg"], #mw_content a.external[href $=".MPEG"],
#mw_content a.external[href $=".mpg"], #mw_content a.external[href $=".MPG"],
.link-video {
	/* @embed */
	background: url(video.png) center right no-repeat;
	padding-right: 13px;
}
#mw_content a.external[href $=".pdf"], #mw_content a.external[href $=".PDF"],
#mw_content a.external[href *=".pdf#"], #mw_content a.external[href *=".PDF#"],
#mw_content a.external[href *=".pdf?"], #mw_content a.external[href *=".PDF?"],
.link-document {
	/* @embed */
	background: url(document.png) center right no-repeat;
	padding-right: 12px;
}

/* images */
/* @noflip */div.floatright, table.floatright {
	margin: 0 0 .5em .5em;
	border: 0;
}
div.floatright p {
	font-style: italic;
}
/* @noflip */div.floatleft, table.floatleft {
	margin: 0 .5em .5em 0;
	border: 0;
}
div.floatleft p {
	font-style: italic;
}

/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */div.tright {
	margin: .5em 0 .8em 1.4em;
}
/* @noflip */div.tleft {
	margin: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

#toc,
.toc {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-spacing: 0;
	background-color: #f0f0f0;
	border: solid 1px #bbbbbb;
}

#toc tr, #toc td {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#toctitle {
	border-bottom: solid 1px #3c78b5;
	background-color: #dddddd;
	margin: 0 0 0 0;
}

#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}

#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0 1em 0 1em;
	padding: 0;
	text-align: left;
}

#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}

#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.catlinks {
	border: solid 1px #bbbbbb;
	background-color: #f0f0f0;
	padding: 0.1em 0.3em 0.1em 0.3em;
	margin: 0 0 0 0;
}

#mw_header h1,
#p-personal,
#p-cactions {
	overflow: hidden;
}

/* disable interwiki styling */
#mw_content a.extiw,
#mw_content a.extiw:active {
	color: #36b;
}
#mw_content a.external {
	color: #36b;
}


.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

table.collapsed tr.collapsable {
	display: none;
}

input#wpSummary {
	width: 80%;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}

#wpSave {
	font-weight: bold;
}

/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left: 10px;
	top: 10px;
	width: 90%;
	background: white;
}

div#searchTarget {
	padding: 3px;
	margin: 5px;
	background: #F0F0F0;
	border: solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

div#searchTargetHide {
	float: right;
	border: solid 1px black;
	background: #DCDCDC;
	padding: 2px;
}

div.multipageimagenavbox {
	border: solid 1px silver;
	padding: 4px;
	margin: 1em;
	background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	border: none;
	margin-left: 2em;
	margin-right: 2em;
}

div.multipageimagenavbox hr {
	margin: 6px;
}

table.multipageimage td {
	text-align: center;
}

.templatesUsed {
	margin-top: 1.5em;
}

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Friendlier slave lag warnings */
div.mw-lag-warn-normal,
div.mw-lag-warn-high {
	padding: 3px;
	text-align: center;
	margin: 3px auto;
}
div.mw-lag-warn-normal {
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
}
div.mw-lag-warn-high {
	font-weight: bold;
	border: 2px solid #FF0033;
	background-color: #FFCCCC;
}

.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}
.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

#p-cactions li.new a {
	color: #cc2200;
}

span.subpages {
	font-size: 80%;
	display: block;
}

pre, .mw-code {
	border: solid 1px #3c78b5;
	padding: 0.4em;
	background-color: #f0f0f0;
}

.usermessage {
	background-color: #dadaff;
}

.mw-topboxes {
	border-collapse: collapse;
	margin: 0 -1em 1em -1em;
	padding: 0 0 8px 0;
}

.mw-topbox p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.mw-topbox {
	color: black;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 1em 0 1em;
	vertical-align: middle;
	border-collapse: collapse;
	border-bottom: solid 1px #bbbbbb;
}

#siteSub {
	background-color: #dddddd;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}

/* table standards */
.toccolours {
	border: 1px solid #bbbbbb;
	background-color: #f0f0f0;
	border-spacing: 0pt;
	margin: 0pt;
	padding: 0pt;
}

/* Tooltips are outside of the normal body code, so this helps make the size of the text sensible */
.tipsy {
	font-size: 130%;
}

/**
 * Lists:
 * The following lines don't have a visible effect on non-Gecko browsers
 * They fix a problem ith Gecko browsers rendering lists to the right of
 * left-floated objects in an RTL layout.
 */
/* @noflip */
html > body.rtl div#mw_contentholder ul {
	display: table;
}

/* @noflip */
html > body.rtl div#mw_contentholder ul#filetoc {
	display: block;
}

/*
Theme Name: brlcad
Theme URI: http://underscores.me/
Author: Anita Leung
Description: Styles for brl-cad.org
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: brlcad
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 brlcad is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Clearfix
-------------------------------------------------------------- */

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

/* line 170, ../sass/screen.scss */
#main-nav {
  margin: 0px;
}

.head {
  min-height: 50px;
  background: #222222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 3px #222222;
  -moz-box-shadow: 0px 2px 3px #222222;
  box-shadow: 0px 2px 3px #222222;
}
/* line 177, ../sass/screen.scss */
.head a {
  color: #ececec;
}
@media only screen and (max-width: 600px) {
  /* line 170, ../sass/screen.scss */
  .head {
    position: relative;
  }
}

/* line 183, ../sass/screen.scss */
.id_logo {
  height: 50px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 1100;
}
@media only screen and (max-width: 920px) {
  /* line 183, ../sass/screen.scss */
  .id_logo {
    top: 25px;
    left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 183, ../sass/screen.scss */
  .id_logo {
    display: none;
  }
}

/* line 200, ../sass/screen.scss */
.circle {
  width: 50px;
  height: 50px;
  border: 1px, solid, #fafafa;
  border-radius: 50%;
  background: #ececec;
  display: inline-block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 207, ../sass/screen.scss */
.circle img {
  margin-top: 5px;
}
/* line 211, ../sass/screen.scss */
.circle:hover {
  background: white;
}
/* line 104, ../sass/screen.scss */
.icon {
  width: 16px;
}

/* line 67, ../sass/screen.scss */
.navbar {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
/* line 72, ../sass/screen.scss */
.navbar .navigation li {
  float: right;
  text-align: center;
  width: 16%;
  line-height: 50px;
  font-size: 1.6rem;
  border-bottom: 2px solid #222222;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 79, ../sass/screen.scss */
.navbar .navigation li:hover {
  border-bottom: 2px solid #ee3b5b;
}
@media only screen and (max-width: 1100px) {
  /* line 72, ../sass/screen.scss */
  .navbar .navigation li {
    font-size: 1.4rem;
    width: 136px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 72, ../sass/screen.scss */
  .navbar .navigation li {
    font-size: 1.4rem;
    width: 33%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 72, ../sass/screen.scss */
  .navbar .navigation li {
    display: none;
  }
}
/* line 86, ../sass/screen.scss */
.navbar .navigation li a {
  display: block;
}
@media only screen and (max-width: 920px) {
  /* line 71, ../sass/screen.scss */
  .navbar .navigation {
    float: right;
    width: 80%;
  }
}

/* line 93, ../sass/screen.scss */
.tinynav {
  display: none;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  line-height: 50px;
  border: none;
}
@media only screen and (max-width: 600px) {
  /* line 93, ../sass/screen.scss */
  .tinynav {
    display: block;
  }
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
